<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <ion-row class="header">
        <ion-col class="ion-align-self-center test">
          <ion-title size="large" class="h2">Notifications</ion-title>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>เมล็ดกาแฟ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <ul class="timeline">
  
        <!-- Item 1 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag text-dark">เริ่มการทำงาน</span>
              <span class="time-wrapper"><span class="time">01:00:00</span></span>
            </div>
  
          </div>
        </li>
  
        <!-- Item 2 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag text-dark">อุณภูมิสูงกว่ากำหนด</span>
              <span class="time-wrapper"><span class="time">00:55:00</span></span>
            </div>
  
          </div>
        </li>

        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag text-dark">สั่งหยุดทำงาน</span>
              <span class="time-wrapper"><span class="time">00:45:00</span></span>
            </div>
  
          </div>
        </li>


        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag text-dark">เริ่มทำงานต่อ</span>
              <span class="time-wrapper"><span class="time">00:45:00</span></span>
            </div>
  
          </div>
        </li>
  
        <!-- Item 3 -->
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="flag text-dark">สิ้นสุดการทำงาน</span>
              <span class="time-wrapper"><span class="time">00:00:00</span></span>
            </div>
  
          </div>
        </li>
  
      </ul>
    </div>
    </ion-card-content>
  </ion-card>
<!-- 
  <ion-item class="my-2 bg-content mx-3">
    <ion-col size="2" class="mx-2">
      <div class="text-center">
        <ion-icon name="alert-circle-outline" class="icon" color="warning"></ion-icon>
      </div>
    </ion-col>

    <ion-col size="8">
      <ion-label>
        <h2>ตัดการทำงาน</h2>
        <h3>อุณภูมิสูงกว่าค่ากำหนด</h3>
        <p>13:00 น.</p>
      </ion-label>
    </ion-col>
  </ion-item>


  <ion-item class="my-2 bg-content mx-3">
    <ion-col size="2" class="mx-2">
      <div class="text-center">
        <ion-icon name="checkmark-circle-outline" class="icon" color="success"></ion-icon>
      </div>
    </ion-col>

    <ion-col size="8">
      <ion-label>
        <h2>การทำงานสำเร็จ</h2>
        <h3>Rection Time = 25</h3>
        <h3>headting Rate = 40</h3>
        <p>12:00 น.</p>
      </ion-label>
    </ion-col>

  </ion-item> -->


</ion-content>