<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/img/background-5.jpeg">
    </ion-avatar>
    <ion-label>
      <h2>User</h2>

    </ion-label>
  </ion-item>

  <ion-list-header>
    General
  </ion-list-header>

  <ion-item (click)="logout()">
    <ion-icon slot="start" name="key-outline"></ion-icon>
    <ion-label>
      Change password
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="profile"></ion-icon>
    <ion-label>
     hi sugampon
    </ion-label>
  </ion-item>
  <ion-item (click)="logout()">
    <ion-icon slot="start" name="log-out"></ion-icon>
    <ion-label>
      Logout
    </ion-label>
  </ion-item>
</ion-content>