ion-content{
    --background: #000000;
  }
  
  ion-content {
    --ion-item-background: #33333385;
    --ion-color-step-250: #313131;
    --ion-item-border:10px
   
  }

  .close{
    width: 30px;
    height: 30px;
  }