 <ion-tabs style="background: #000000;">
    <ion-tab-bar slot="bottom" style="padding-top:10px;padding-bottom: 10px;">
        <ion-tab-button tab="dashboard">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="report">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Report</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="notifications">
            <div class="alert-count">2</div>
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>
</ion-tabs>