<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title mode="ios">
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <div>
        <ion-button (click)="OnClick()" expand="full" fill="outline">Outline + Full</ion-button>
    </div> -->
    <canvas id="canvas-chart"></canvas>
</ion-content>

